{
  "environment": "{{ project_environment | default("Development") }}",
  "project": "{{ project_name }}",
  "version": "{{ project_version }}",
  "client": "{{ project_client | default("Internal") }}",
  "alive": true
}
